<div class="row">
  <div class ="col-xs-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="itemName">Name</label>
          <input type="text" id="itemName" class="form-control" [ngModel]="selectedIngredient.name" required name="name">
        </div>
        <div class="col-sm-2 form-group">
          <label for="itemAmount">Amount</label>
          <input type="text" id="itemAmount" class="form-control" [ngModel]="selectedIngredient.amount" required name="amount">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit">Save</button>
          <button class="btn btn-danger" type="button" *ngIf="!isAdd  " (click)="onDelete(f)">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onReset(f)">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
