<header>
  <ul class="nav nav-pills">
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/recipes']">Recipies</a></li>
    <li role="presentation" routerLinkActive="active"><a [routerLink]="['/shopping-list']">Shopping list</a></li>
    <li role="presentation">
      <div class="dropdown" appDropdown>
        <button id="dLabel"
                type="button"
                aria-haspopup="true"
                aria-expanded="false"
                class="btn btn-primary">
          Data
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
          <li><a (click)="onStore()" style="cursor: pointer">Save</a></li>
          <li><a (click)="onFetch()" style="cursor: pointer">Load</a></li>
        </ul>
      </div>
    </li>
  </ul>
</header>
<hr>

